body{
    width: 100%;
    overflow-x: hidden;                        /* sklanja (izmedju ostalog) beli prazan prostor sa desne strane*/
}
.navigacija{                                    /*navbar-u data sirina 100% da bih mogao da pomerim deo sa dugmicima skroz desno*/
    width: 100%;
}
video{
    width:100%;
    height:50vh;
    object-fit:fill;
}
h1{                                             /*naslovi na home page-u*/
    text-align:center;
    color: #f2a463;
    padding:20px;
}
.tekstic{                                        /*centrirani paragrafi i headings-i*/
    text-align: center;
}
.divovi{                                        /*sadrzaj koji zauzima centralni deo stranice,a sa strane su praznine*/
    margin-left: 20%;
    margin-right: 20%;
}
hr{                                             /*razlika izmedju hr i hr2 je u duzini linije. hr2 zahvata 60% po sredini strane */
    border-color:#f2a463;
    width:"100%";
}
.hr2{
    border-color:#f2a463;
    margin-left: 20%;
    margin-right: 20%;
    width:"100%";
}
.drugideo{                                     /* section sa tekstom o nagradnoj igri i linkom za galeriju */
    width: 100%;
    background-image: url(slike/contest_image.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    opacity: 0.6;
}
input{
    visibility: hidden;                          
}
.custom-upload-button{                           /*custom dugme za upload*/
    cursor: pointer;
    width: 60px;
}
#more, #more2 , #more3, #more4{                  /*delovi teksta koji ne treba da se vide pre pritiska na READ MORE button*/
    display: none;
}
.venecija{                                      /*venecija,pariz i rim -divovi sa pozadinskim slikama i tesktom,modifikovani prema zahtevu*/
    background-image:url(slike/venice.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}
.pariz{
    background-image: url(slike/Paris.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}
.rim{
    background-image: url(slike/rome.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}
footer{
    width: 100%;
    height: 5%;
    border: 1px solid #f2a463;
    text-align: center;
    padding-top: 10px;
    clear: both;
    background-color:#f2a463;
}
button{                                             /*dugme u galeriji*/
    background-color: white;
    border: none;
    padding: 5px;
    cursor: pointer
}
.slike img{                                     /* slike u galeriji*/
    float: left;
    width: 100%;
    height: 300px;
    padding: 5px;
    object-fit: fill;    
}
.slike2 img{                                     /* slike u galeriji*/
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
    object-fit: fill;    
}
.ubutt{                                             /*dugme za upload galerija.html*/
    text-align: right;
}
#mapa{
    width: 100%;
    height: 400px;
    margin-top: 3%;
    margin-bottom: 20px;
}
.show, textarea{                                    /*ovde sam morao da stavim visibility:visible, jer imam 'gore' input-hidden */
    width: 300px;
    visibility: visible;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 20%;
}
#blog{
    width: 900px;
    height: 900px;
    background-image: url(slike/snoopy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 150px auto;
}
.vline{
    border: 1px solid #f2a463;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.obojenidiv{
    background-color:#ffdfae;
}
ul {
    list-style-image: url('slike/strelica.png');
    line-height: 200%;
    margin-left: 40px;
}
.carousel-slike img {
    width: 100%;
    height: 400px;
    object-fit: fill;
}
.carouselIcon{
    padding-top: 200px;
}
.carousel-item {
    height: 400px;
}

.carousel-indicators li {
    width: 40px;
    height: 7px;
}
.carousel-indicators {
    position: relative;
    bottom: -380px;
}
.destinacije img{
    width: 100%;
    height: auto;
    object-fit: fill;
    margin-right: 0px;
    margin-left: 0px;
}
.destinacije{
    margin: 3px;
    border: 1px solid rgb(146, 146, 146);
    padding-right: 0px;
    padding-left: 0px;
}