body{
    width: 100%;
    overflow-x: hidden;                        /* sklanja (izmedju ostalog) beli prazan prostor sa desne strane*/
}
.navigacija{                                    /*navbar-u data sirina 100% da bih mogao da pomerim deo sa dugmicima skroz desno*/
    width: 100%;
}
video{
    width:100%;
    height:50vh;
    object-fit:fill;
}
h1{                                             /*naslovi na home page-u*/
    text-align:center;
    color: #f2a463;
    padding:20px;
}
.tekstic{                                        /*centrirani paragrafi i headings-i*/
    text-align: center;
}
.divovi{                                        /*sadrzaj koji zauzima centralni deo stranice,a sa strane su praznine*/
    margin-left: 20%;
    margin-right: 20%;
}
.hr1{                                             /*razlika izmedju hr1 i hr2 je u duzini linije. hr2 zahvata 60% po sredini strane */
    border-color:#f2a463;
    width:"100%";
}
.hr2{
    border-color:#f2a463;
    margin-left: 20%;
    margin-right: 20%;
    width:"100%";
}
.drugideo{                                     /* section sa tekstom o nagradnoj igri i linkom za galeriju */
    width: 100%;
    background-image: url(slike/contest_image.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    opacity: 0.6;
}
#File1{
    visibility: hidden;                          
}
.custom-upload-button{                           /*custom dugme za upload*/
    cursor: pointer;
    width: 60px;
}
#more, #more2 , #more3, #more4{                  /*delovi teksta koji ne treba da se vide pre pritiska na READ MORE button*/
    display: none;
}
.venecija{                                      /*venecija,pariz i rim -divovi sa pozadinskim slikama i tesktom,modifikovani prema zahtevu*/
    background-image:url(slike/venice.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}
.pariz{
    background-image: url(slike/Paris.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}
.rim{
    background-image: url(slike/rome.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}
footer{
    width: 100%;
    height: 5%;
    border: 1px solid #f2a463;
    text-align: center;
    padding-top: 10px;
    clear: both;
    background-color:#f2a463;
}
.dugme{                                             /*dugme u galeriji*/
    background-color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
}
.slike img{                                     /* slike u galeriji*/
    float: left;
    width: 100%;
    height: 300px;
    padding: 5px;
    object-fit: fill;    
}
.slike2 img{                                     /* slike u galeriji*/
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
    object-fit: fill;    
}
.ubutt{                                             /*dugme za upload galerija.html*/
    text-align: right;
}
#mapa{
    width: 100%;
    height: 400px;
    margin-top: 3%;
    margin-bottom: 20px;
}
.show, textarea{                                    
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 20%;
}
.vline{                                     /*linija u "about us" koja deli obojeni div na 2 dela*/
    border: 1px solid #f2a463;
    height: 100%;
    float: left;
    margin-right: 50px;
}
.obojenidiv{                                          /* div u 'about us' tabu, #lista - lista koja se nalazi u ovom divu*/
    background-color:#ffdfae;
}
#lista1 {
    list-style-image: url('slike/strelica.png');
    line-height: 200%;
    margin-left: 40px;
}
.carousel-slike img {                                     /*carausel u 'gallery' tabu i njegova podesavanja*/ 
    width: 100%;
    height: 400px;
    object-fit: fill;
}
.carouselIcon{
    padding-top: 200px;
}
.carousel-item {
    height: 400px;
}

.carousel-indicators li {
    width: 40px;
    height: 7px;
}
.carousel-indicators {
    position: relative;
    bottom: -380px;
}
.destinacije img{               /*slike u 'destination' tabu i podesavanja unutar diva*/
    width: 100%;
    height: auto;
    object-fit: fill;
    margin-right: 0px;
    margin-left: 0px;
}
.destinacije{
    margin: 3px;
    border: 1px solid rgb(146, 146, 146);
    padding-right: 0px;
    padding-left: 0px;
}
.hr3{                               /*isprekirana linija i badge u 'blog'-u  */
    border-top: 1px dotted black;
}
.badge{
    background-color: #f2a463;
    border-radius: 50px;
}
#listaKom{                                     /*lista za dodavanje komentara u blog delu*/
    list-style-image: url('slike/author.png');
}
#listaKom li {
    border: 1px solid black;
    margin: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: justify;
}
.slk{
    cursor: pointer;
}